body{
    background-color:#8be77b;
    font-family:Verdana, Geneva, tahoma, sans-serfl;
    color:rgb(205,11,143);

}
body{
margin:0;
padding:0;
height:100% ;
background-color: #8be77b;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(205,11,143);
}
input(
background-color:#2515b5;
color:chartreuse;

)






